body{
    background-color: rgb(217, 219, 241);
    color: rgb(31, 31, 28);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 50px;

}

#title img{
    width: 75px;
    border-radius: 4px;
}

h1{
    font-weight: 200;
}

li{
    display: inline-block;
    margin: 20px;
}
    a{
        color:rgb(15, 15, 15) ;
    }
    a :hover{
        color: rgb(241, 237, 243);
        transition: 0.3s all;
    }
    
#inscreva-se-btn{
    border: 2px solid rgb(24, 28, 236);
    padding: 10px;
    border-radius: 15px;
    
}

#inscreva-se-btn:hover{
background-color: rgb(132,14,201);
color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
font-size: 50px;
line-height: 10px;   
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color: rgb(79, 219, 36);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 580px;

}

form{
    display:flex;
    flex-direction: column; 
    width: 70%;

}

#imagem-form img{
    margin-left: 3rem;
}

#btn-login{
    padding: 15px;
    align-content: center;
    padding-bottom:10px ;
}
input{
    margin-top: 20px; 
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}
form [type="submit"]{
      font-weight: bold;
      width: 50%;
}

form [type="submit"]:hover{
   cursor:pointer;
  
}

input{
margin-top: 20px;
padding: 15px;
border-radius: 20px;
border: none;

}

